.cart{
    margin-bottom: 50px;
    table{
        table-layout: auto;
        th,
        td{
            padding: 5px;
        }
        th{
            font-size: $fontSizeSmall;
            font-weight: 700;
            color: $grayLight;
            text-transform: uppercase;
            border-bottom: 1px dotted $grayLighter;
        }
        td{
            border: 0;
            vertical-align: middle;
        }

        .cart-item-image img{
            max-width: 150px;
            width: 100%;
        }

        .cart-item-description{
            width: 30%;
        }
        h3{
            margin: 0;
            font-size: 14px;
            font-weight: 700;
            color: $textColor;
            text-transform: uppercase;
        }
        ul{
            margin: 0 0 5px;
            padding: 0;
            list-style-type: none;
            font-size: $fontSizeSmall;
            font-weight: 700;
            color: $grayLight;
            text-transform: uppercase;
        }
        li{
            float: left;
            border-left: 1px solid $grayLight;
            margin-left: 8px;
            padding-left: 8px;
            color: $grayLight;
            &:first-child{
                margin-left: 0;
                padding-left: 0;
                border-left: 0;
            };
        }

        .variant{
            @include inline-block;
            padding: 5px 6px;
            font-weight: 500;
            color: $white;
            background-color: $grayLight;
        }

        .line_item_quantity{
            width: 40px;
            margin-bottom: 0;
        }

        .cart-item-price{
            font-family: $coustardFontFamily;
            font-size: $fontSizeHuge;
            color: $grayDark;
        }

        .action{
            margin: 0 10px;
        }

        .coupon{
            padding: 10px 5px;
            input{
                width: 100px;
                margin: 0;
            }
        }
    }
    .total{
        margin-bottom: 10px;
        padding: 5px 30px;
        text-align: right;
        background-color: $yellow;
        h5{
            font-size: $fontSizeLarge;
            text-transform: uppercase;
        }
        h5 .order-total{
            font-family: $coustardFontFamily;
            font-size: $fontSizeHuger;
        }
    }
    .actions {
        text-align: right;
        p {
            margin: 0 0 20px 0;
        }
        input,
        .btn {
            margin: 0;
            vertical-align: middle;
        }
        input {
            width: 140px;
        }
    }
    .buttons .btn {
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .free-delivery{
        position: relative;
        margin-bottom: 10px;
        padding: 30px 10px 30px 40px;
        color: #333;
        text-transform: uppercase;
        background-color: $grayLightest;
    }
    .free-delivery em{
        font-size: $fontSizeHuge;
        font-style: normal;
    }
}
