.purchasing{
  .panel{
    border: $purchasing-panel-border-width $purchasing-panel-border-style $purchasing-panel-border-color;
    @include border-radius($purchasing-panel-border-radius);
    @include box-shadow($purchasing-panel-shadow);
    overflow: hidden;
    &--cart-summary {
      .panel-body{
        padding: $purchasing-panel-cart-body-padding;
      }
    }
  }
  .panel-heading{
    position: relative;
    padding: $purchasing-panel-heading-padding-vertical $purchasing-panel-heading-padding-horizontal;
    background-color: $purchasing-panel-head-bg;
    border-bottom: 0;
    @include border-radius(0);
  }
  .panel-title{
    margin: 0;
    font-size: $font-size-large;
    font-weight: bold;
    text-transform: uppercase;
  }
  .panel-edit{
    position: absolute;
    top: $purchasing-panel-heading-padding-vertical;
    right: $purchasing-panel-heading-padding-horizontal;
  }
  .panel-body{
    padding: $purchasing-panel-body-padding;
    border-top: $purchasing-panel-border-width $purchasing-panel-border-style $purchasing-panel-border-color;
  }
  fieldset,
  .fieldset,
  input[type="hidden"]{
    & + fieldset,
    & + .fieldset{
      margin-top: ($line-height-computed * 2);
    }
    ul{
      padding-left: 0;
      list-style-type: none;
    }
    li{
      margin: 0;
      padding: 0;
    }
  }
  legend,
  .legend{
    margin-bottom: ($line-height-computed / 2.5);
    font-size: $font-size-base;
    font-weight: bold;
    line-height: inherit;
    text-transform: uppercase;
    color: $gray;
    border: 0;
  }
  .btn-toolbar{
    margin-top: 20px;
    .checkbox{
      display: inline-block;
      margin-left: 15px;
    }
  }

  .table{
    &--purchase{
      margin-bottom: 0;
      > tbody{
        > tr{
          > th,
          > td{
            padding: 5px;
            font-weight: normal;
            vertical-align: middle;
          }
          > th{
            text-align: left;
          }
        }
      }
      .price{
        text-align: right
      }

      &--items{
        margin-bottom: 10px;
        > tbody{
          > tr{
            > th,
            > td{
              border: 0;
            }
            > th{
              width: 50px
            }
          }
        }
        img{
          max-width: 50px;
        }
      }

      &--totals{
        > tbody{
          > tr{
            > th,
            > td{
              padding-top: 15px;
              padding-bottom: 15px;
            }
            &.total{
              > th,
              > td{
                font-size: $font-size-large;
                font-weight: bold;
                border-top: 1px solid $gray-lighter;
              }
            }
          }
        }
      }
    }
  }


  /*.ask-for-billing-address{
    margin-bottom: 20px;
  }
  .is-different-billing-address{
    display: none;
  }*/

  // Redirect
  /*.redirect{
    margin: 10% 0;
    text-align: center;
    h1{
      margin: 5% 0 0 0;
      padding: 0;
      font-size: $fontSizeHuge;
    }
  }*/

  // Thanks
  /*.thanks{
    margin: 10% 20%;
    text-align: center;
    .box{
      padding: 30px;
      background-color: $grayLightest;
    }
    h1{
      margin: 2% 0 5px;
      padding: 0;
      font-size: $fontSizeHuger;
      line-height: 1.25em;
    }
    p{
      margin: 0;
    }
    .share{
      margin-bottom: 20px;
      padding: 0;
      border-bottom: 1px solid $grayLighter;
    }
  }*/
}




