<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">3. <%= t(:shipping_method) %></h3>
    <% if @order.state != @order.checkout_steps.first && @order.state != 'cart' %>
      <%= link_to t(:edit), checkout_state_path(@order.checkout_steps.second), class: 'panel-edit'%>
    <% end %>
  </div>
  <% if @order.state != @order.checkout_steps.first && @order.state != 'cart' %>
    <div class="panel-body">
      <div class="fieldset">
        <h4 class="legend">Envío 1: Paquete desde default</h4>
        <ul>
          <li>UPS Ground (EUR) (+ €8.00)</li>
        </ul>
      </div>

      <div class="fieldset">
        <h4 class="legend">Envío 2: Paquete desde default</h4>
        <ul>
          <li>UPS Ground (EUR) (+ €8.00)</li>
        </ul>
      </div>

      <div class="fieldset">
        <h4 class="legend">Instrucciones de envío</h4>
        <p>Toca la campanita al entrar</p>
      </div>
    </div>
  <% end %>
</div>
